# <img style="float: left; padding-right: 20px; width: 200px" src="https://raw.githubusercontent.com/raxlab/imt2200-data/main/media/logo.jpg"> Proyecto: "Impacto de la pandemia sobre el NEM" 
## Semestre: 2025-2 
## **Datos primera entrega**
**Grupo de trabajo:** Constanza Alarcón, Carla Espinoza, Gaspar Galaz, Renato Reyes

## Distintas pruebas de admisión analizadas:

### PSU: 
    -Rendición: 2003-2020, 1 por año
    -Puntaje: 150-850

### PDT:
    -Rendición: 2020-2022, 1 por año menos el 2022 que se realizó por primera vez Invierno y Regular
    -Puntaje: 150-850(en las 2 primeras),  100-1000(en la última)
    

### PAES:
    -Rendición: 2022-  , Invierno y Regular
    -Puntaje: 100-1000

- "2017-2024","2017","P.D.A-2017-MATRÍCULA", "Matricula_Admisión2017", "ArchivoMat_Adm2017.csv"
- "2017-2024","2017","P.D.A-2017-MATRÍCULA", "Matricula_Admisión2017", "Libro_CódigosADM2017_ArchivoMatricula.xlsx"

- "2017-2024","2017", "P.D.A-2017-INSCRIPCIÓN","Inscritos_Admisión2017", "Libro_CódigosADM2017_ArchivoB.xlsx"
- "2017-2024","2017", "P.D.A-2017-INSCRIPCIÓN","Inscritos_Admisión2017","ArchivoB_Adm2017.csv"

- "2017-2024","2017","P.D.A-2017-POSTULACIÓN-OFERTA-ACADEMICA", "OfertaAcadémica_Admisión2017.xlsx"

- "2017-2024","2017","P.D.A-2017-POSTULACIÓN-POSTULACION-SELECCION","Postulación_Admisión2017", "ArchivoD_Adm2017.csv"
- "2017-2024","2017","P.D.A-2017-POSTULACIÓN-POSTULACION-SELECCION","Postulación_Admisión2017", "Libro_CódigosADM2017_ArchivoD.xlsx"

- "2017-2024","2017","P.D.A-2017-RENDICIÓN-PERCENTILES", "Percentiles ADM2017.xlsx"

- "2017-2024","2017","P.D.A-2017-RENDICIÓN-REGULAR","Rinden_Admisión2017", "ArchivoC_Adm2017.csv"
- "2017-2024","2017","P.D.A-2017-RENDICIÓN-REGULAR","Rinden_Admisión2017", Libro_CódigosADM2017_ArchivoC.xlsx

# *Vemos la información que manejaremos...*

### PROCESO DE ADMISIÓN - INCRIPCIÓN

In [14]:
import pandas as pd
from os import path 

inscripcion_csv = path.join("2017-2024","2017", "P.D.A-2017-INSCRIPCIÓN","Inscritos_Admisión2017","ArchivoB_Adm2017.csv")
inscripcion_excel = path.join("2017-2024","2017", "P.D.A-2017-INSCRIPCIÓN","Inscritos_Admisión2017", "Libro_CódigosADM2017_ArchivoB.xlsx")
ins_df = pd.read_csv(inscripcion_csv, sep= ";")
ins_excel = pd.read_excel(inscripcion_excel)

print(ins_excel)
ins_df.head(10)

C:\Users\const\AppData\Local\Temp\ipykernel_38744\2305978897.py:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  ins_df = pd.read_csv(inscripcion_csv, sep= ";")

           Variable                                        Descripción
0            ID_aux                 Identificador único del postulante
1      ANYO_PROCESO      2017, correspondiente al proceso de admisión.
2      NACIONALIDAD                                       Nacionalidad
3               NaN                                         1. Chilena
4               NaN                                      2. Extranjera
..              ...                                                ...
243            PACE  “PACE”.   Postulante   informado   por   el   ...
244  RINDIO_PROCESO  Rindió pruebas en el Proceso de Admisión:     ...
245             NaN                                         1. Actual.
246             NaN               2. Anterior,  promedio LengMat ≥ 450
247             NaN  3. En ambos Procesos, (Proceso anterior = prom...

[248 rows x 2 columns]

,ID_aux,ANYO_PROCESO,NACIONALIDAD,PAIS_NACIONALIDAD,SEXO,CODIGO_REGION_D,CODIGO_PROVINCIA_D,CODIGO_COMUNA_D,ANYO_EGRESO,FECHA_NACIMIENTO,...,PERSONAS_ESTUDIAN_MEDIA,PERSONAS_ESTUDIAN_4TOMEDIO,PERSONAS_ESTUDIAN_SUP,PERSONAS_ESTUDIAN_OTRAS,EDUCACION_PADRE,EDUCACION_MADRE,INSTITUCION_SUPERIOR,BEA,PACE,RINDIO_PROCESO
0,id_309743076974,2017.0,1.0,210.0,1.0,13.0,131.0,13128.0,2016.0,81950,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,,,1.0
1,id_088140874810,2017.0,1.0,210.0,2.0,8.0,81.0,8112.0,0.0,111951,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,,,1.0
2,id_665046670502,2017.0,1.0,210.0,1.0,5.0,51.0,5101.0,2016.0,71950,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,,,1.0
3,id_832428372240,2017.0,1.0,210.0,1.0,13.0,136.0,13605.0,2016.0,111950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1.0
4,id_806228075623,2017.0,1.0,210.0,1.0,5.0,51.0,5101.0,2016.0,41952,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,BEA,,1.0
5,id_990629976060,2017.0,1.0,210.0,1.0,4.0,43.0,4301.0,2016.0,111951,...,1.0,2.0,1.0,0.0,0.0,0.0,0.0,,,1.0
6,id_969929672990,2017.0,1.0,210.0,2.0,13.0,131.0,13132.0,1978.0,101960,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1.0
7,id_590225976020,2017.0,1.0,210.0,2.0,10.0,103.0,10303.0,2016.0,41950,...,0.0,1.0,0.0,0.0,13.0,13.0,0.0,,,1.0
8,id_524225275420,2017.0,1.0,210.0,2.0,5.0,58.0,5801.0,2016.0,31952,...,0.0,1.0,0.0,0.0,5.0,13.0,0.0,,,1.0
9,id_711727173171,2017.0,1.0,210.0,2.0,13.0,131.0,13129.0,2016.0,111951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,,1.0

### PROCESO DE ADMISIÓN - POSTULACIÓN

In [17]:
#inscripcion_csv = path.join("2017-2024","2017", "P.D.A-2017-INSCRIPCIÓN","Inscritos_Admisión2017","ArchivoB_Adm2017.csv")
oferta_academica = path.join("2017-2024","2017","P.D.A-2017-POSTULACIÓN-OFERTA-ACADEMICA", "OfertaAcadémica_Admisión2017.xlsx")
#ins_df = pd.read_csv(inscripcion_csv, sep= ";")
ins_excel = pd.read_excel(oferta_academica)

ins_excel.head(5)
#ins_df.head(10)

,PROCESO,CODIGO_UNIV,UNIVERSIDAD,CODIGO,CARRERA,PORC_NOTAS,PORC_RANKINK,PORC_LENGUAJE,PORC_MATEMATICA,PORC_HISTORIA,PORC_CIEN,MINIMO_PONDERADO,MINIMO_LEN_MAT,VACANTES_1SEM,SOBRECUPO_1SEM,VACANTES_2SEM,SOBRECUPO_2SEM,TOTAL_CUPOS,CUPOS_BEA
0,2017,11,UNIVERSIDAD DE CHILE,11001,"ARQUITECTURA, LIC. EN ARQUITECTURA",20,20,20,30,10,10,600,450,220,30,0,0,250,5
1,2017,11,UNIVERSIDAD DE CHILE,11003,"ACTUACIÓN TEATRAL, LIC. EN ARTES CON MENCIÓN E...",10,20,30,15,25,0,600,450,23,0,0,0,23,5
2,2017,11,UNIVERSIDAD DE CHILE,11004,"DISEÑO TEATRAL, LIC. EN ARTES CON MENCIÓN EN D...",10,20,25,20,25,0,600,450,23,3,0,0,26,5
3,2017,11,UNIVERSIDAD DE CHILE,11005,"DISEÑO, LIC. EN DISEÑO CON MENCIONES",20,20,25,25,10,10,600,450,136,20,0,0,156,5
4,2017,11,UNIVERSIDAD DE CHILE,11011,"ARTES PLÁSTICAS, LIC. EN ARTES CON MENCIÓN EN ...",10,20,35,10,25,0,600,450,80,4,0,0,84,5

In [28]:
postulacion_csv = path.join("2017-2024","2017","P.D.A-2017-POSTULACIÓN-POSTULACION-SELECCION","Postulación_Admisión2017", "ArchivoD_Adm2017.csv")
postulacion_excel = path.join("2017-2024","2017","P.D.A-2017-POSTULACIÓN-POSTULACION-SELECCION","Postulación_Admisión2017", "Libro_CódigosADM2017_ArchivoD.xlsx")
pos_df = pd.read_csv(postulacion_csv, sep= ";")
pos_excel = pd.read_excel(postulacion_excel)

print(pos_excel.head(10))
pos_df.head(10)

                                            Variable  \
0                                             ID_aux
1                                     SIT_POSTULANTE
2                                                NaN
3                                                NaN
4  Para cada preferencia de postulación, del 1 al 10
5                                COD_CARRERA_PREF_XX
6                                     ESTADO_PREF_XX
7                                        PTJE_PREFXX
8                                   POND_ACAD_PREFXX
9                                                NaN

                                         Descripción
0                 Identificador único del postulante
1       Código único que se asigna a cada postulante
2  P: Tiene por lo menos una postulación efectiva...
3  C: No cumple los requisitos en ninguna prefere...
4                                                NaN
5                              Código de la carrera
6              Estado de situación de la preferencia
7                     Puntaje ponderado de selección
8  Puntaje ponderado obtenido a partir de los res...
9            0. Preferencia no ocupada o no efectiva

,ID_aux,SITUACION_POSTULANTE,COD_CARRERA_PREF_01,ESTADO_PREF_01,PTJE_PREF01,POND_ACAD_PREF01,COD_CARRERA_PREF_02,ESTADO_PREF_02,PTJE_PREF02,POND_ACAD_PREF02,...,POND_ACAD_PREF08_PACE,COD_CARRERA_PREF_09_PACE,ESTADO_PREF_09_PACE,PTJE_PREF09_PACE,POND_ACAD_PREF09_PACE,COD_CARRERA_PREF_10_PACE,ESTADO_PREF_10_PACE,PTJE_PREF10_PACE,POND_ACAD_PREF10_PACE,PACE
0,id_0000900070053,P,40040.0,24.0,54900.0,1.0,38003.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id_0000900270060,C,19026.0,36.0,0.0,0.0,23025.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0000900470063,P,43013.0,24.0,66140.0,1.0,42002.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0000900470081,P,14030.0,24.0,67490.0,1.0,38004.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id_0000900670008,P,22059.0,24.0,50325.0,1.0,22024.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,id_0000900870000,C,13014.0,17.0,0.0,0.0,11029.0,17.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,id_0000900870023,P,41123.0,24.0,49030.0,1.0,41106.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,id_0000900870065,P,41104.0,24.0,61430.0,1.0,13059.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,id_0000900870074,P,13087.0,25.0,56110.0,1.0,29019.0,25.0,58830.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,id_0001900070143,C,17074.0,31.0,0.0,0.0,17077.0,31.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### PROCESO DE ADMICIÓN - RENDICIÓN

In [20]:
percentiles = path.join("2017-2024","2017","P.D.A-2017-RENDICIÓN-PERCENTILES", "Percentiles ADM2017.xlsx")
per_excel = pd.read_excel(oferta_academica)
per_excel.head(5)

,PROCESO,CODIGO_UNIV,UNIVERSIDAD,CODIGO,CARRERA,PORC_NOTAS,PORC_RANKINK,PORC_LENGUAJE,PORC_MATEMATICA,PORC_HISTORIA,PORC_CIEN,MINIMO_PONDERADO,MINIMO_LEN_MAT,VACANTES_1SEM,SOBRECUPO_1SEM,VACANTES_2SEM,SOBRECUPO_2SEM,TOTAL_CUPOS,CUPOS_BEA
0,2017,11,UNIVERSIDAD DE CHILE,11001,"ARQUITECTURA, LIC. EN ARQUITECTURA",20,20,20,30,10,10,600,450,220,30,0,0,250,5
1,2017,11,UNIVERSIDAD DE CHILE,11003,"ACTUACIÓN TEATRAL, LIC. EN ARTES CON MENCIÓN E...",10,20,30,15,25,0,600,450,23,0,0,0,23,5
2,2017,11,UNIVERSIDAD DE CHILE,11004,"DISEÑO TEATRAL, LIC. EN ARTES CON MENCIÓN EN D...",10,20,25,20,25,0,600,450,23,3,0,0,26,5
3,2017,11,UNIVERSIDAD DE CHILE,11005,"DISEÑO, LIC. EN DISEÑO CON MENCIONES",20,20,25,25,10,10,600,450,136,20,0,0,156,5
4,2017,11,UNIVERSIDAD DE CHILE,11011,"ARTES PLÁSTICAS, LIC. EN ARTES CON MENCIÓN EN ...",10,20,35,10,25,0,600,450,80,4,0,0,84,5

In [23]:
rendicion_csv = path.join("2017-2024","2017","P.D.A-2017-RENDICIÓN-REGULAR","Rinden_Admisión2017", "ArchivoC_Adm2017.csv")
rendicion_excel = path.join("2017-2024","2017","P.D.A-2017-RENDICIÓN-REGULAR","Rinden_Admisión2017", "Libro_CódigosADM2017_ArchivoC.xlsx")
ren_df = pd.read_csv(rendicion_csv, sep= ";")
ren_excel = pd.read_excel(rendicion_excel)

print(ren_excel.head(5))
ren_df.head(10)

       Variable                                        Descripción
0        ID_aux                 Identificador único del postulante
1    PROM_NOTAS            Promedio de notas de la educación media
2      PTJE_NEM  Puntaje estándar asignado al promedio general ...
3  PTJE_RANKING    Puntaje estándar asignado al promedio de notas
4   LENG_ACTUAL   Puntaje obtenido en la prueba de Lenguaje actual

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PERCENTIL_LM_ACTUAL,LENG_ACTUAL,...,MODULO_ACTUAL,PERCENTIL_LM_ANTERIOR,LENG_ANTERIOR,MATE_ANTERIOR,HCSO_ANTERIOR,CIEN_ANTERIOR,MODULO_ANTERIOR,PROM_NOTAS,PTJE_NEM,PTJE_RANKING
0,id_0000900070001,24231,310,2,H1,5,11.0,11101.0,45,508,...,,0.0,0,0,0,0,,515,445,445
1,id_0000900070053,6897,310,3,H1,5,14.0,14103.0,73,527,...,BIO,70.0,567,539,0,583,BIO,543,502,506
2,id_0000900070056,9409,410,3,T1,5,13.0,13130.0,27,393,...,TEC,0.0,0,0,0,0,,515,448,448
3,id_0000900270035,12716,310,2,H1,5,15.0,15101.0,66,556,...,,0.0,0,0,0,0,,625,672,756
4,id_0000900270060,52,310,2,H1,5,15.0,15101.0,31,465,...,,0.0,0,0,0,0,,520,455,455
5,id_0000900270097,10915,310,2,H1,5,15.0,15101.0,78,586,...,BIO,0.0,0,0,0,0,,653,729,780
6,id_0000900370039,1482,310,2,H1,5,5.0,5802.0,23,436,...,,0.0,0,0,0,0,,503,420,420
7,id_0000900370053,1450,310,2,H1,5,5.0,5506.0,11,534,...,BIO,0.0,0,0,0,0,,548,513,513
8,id_0000900470041,8612,310,2,H1,5,13.0,13108.0,57,480,...,,0.0,0,0,0,0,,490,393,393
9,id_0000900470063,8680,310,2,H1,5,13.0,13101.0,95,612,...,BIO,87.0,597,633,0,615,BIO,563,544,548

### PROCESO DE ADMISIÓN - MATRÍCULA

In [27]:
matricula_csv = path.join("2017-2024","2017","P.D.A-2017-MATRÍCULA", "Matricula_Admisión2017", "ArchivoMat_Adm2017.csv")
matricula_excel = path.join("2017-2024","2017","P.D.A-2017-MATRÍCULA", "Matricula_Admisión2017", "Libro_CódigosADM2017_ArchivoMatricula.xlsx")
mat_df = pd.read_csv(matricula_csv, sep= ";")
mat_excel = pd.read_excel(matricula_excel)

print(mat_excel.head(5))
mat_df.head(10)

      Variable                                        Descripción
0       ID_aux                 Identificador único del postulante
1  CODIGO_UNIV  Código que identifica la universidad donde se ...
2       CODIGO  Código de la carrera donde se matriculó el/la ...
3          VIA                                     Matrícula vía
4          NaN                                         1. Regular

,ID_aux,CODIGO_UNIV,VIA,CODIGO,PREFERENCIA,PTJE_POND,POND_ANYO_ACAD,TIPO_MATRICULA
0,id_309743076974,16.0,1,16035,1,"672,1",1,1
1,id_583235879324,16.0,1,16038,1,"665,4",1,1
2,id_747537477755,26.0,1,26073,1,"693,35",1,1
3,id_727437279749,41.0,1,41016,4,"500,2",1,1
4,id_332833372283,45.0,1,45011,2,"575,8",2,1
5,id_494204979427,21.0,1,21012,1,"549,45",1,1
6,id_240602473067,17.0,1,17825,1,"703,15",1,1
7,id_016400170643,26.0,1,26034,1,"541,55",1,1
8,id_624506270459,45.0,1,45021,1,"629,5",1,1
9,id_927369273730,20.0,1,20007,2,"609,05",1,1

## EMPEZAMOS!!